.App {
    background-image: url(../img/home-bg.jpg);
    background-position: center;
    background-size: cover;
}

.row {
    background-color: rgba(256,256,256,0.7);
}

nav {
    background-color: rgba(256,256,256,0.7);
}