html,
body,
#root,
.App {
    height: 100%;
}

a {
    color:black !important;
}

a:hover {
    text-decoration: none !important;
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}